<legend> Bolsos Fusión </legend>
<table>
    <tr>
        <td><img src="../../../../../assets/imgen/azul.png" width="100px" height="150px"></td>
        <td><img src="../../../../../assets/imgen/base.png" width="100px" height="150px"></td>
        <td><img src="../../../../../assets/imgen/bb.jpg" width="100px" height="150px"></td>

    </tr>
    <tr>
        <td><img src="../../../../../assets/imgen/base2.png" width="100px" height="150px"></td>
        <td><img src="../../../../../assets/imgen/base3.png" width="100px" height="150px"></td>
        <td><img src="../../../../../assets/imgen/rojo.jpg" width="100px" height="150px"></td>

    </tr>
    <tr>
        <td><img src="../../../../../assets/imgen/azul.png" width="100px" height="150px"></td>
        <td><img src="../../../../../assets/imgen/base.png" width="100px" height="150px"></td>
        <td><img src="../../../../../assets/imgen/bb.jpg" width="100px" height="150px"></td>

    </tr>
    <tr>
        <td><img src="../../../../../assets/imgen/base2.png" width="100px" height="150px"></td>
        <td><img src="../../../../../assets/imgen/base3.png" width="100px" height="150px"></td>
        <td><img src="../../../../../assets/imgen/rojo.jpg" width="100px" height="150px"></td>

    </tr>
</table>